* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-color: transparent;
}

.h_m_list > li a {
  color: #fff;
}
.h_nav_list > li a {
  color: #fff;
}

.wrap {
  width: 100%;
  height: 94vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(45deg, #3ded97, #2ddbdc);
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s;
}

.r_title {
  display: flex;
  align-items: center;
}

.r_title img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

@media all and (min-width: 320px) {
  .swiper-wrapper .swiper-slide {
    width: 300px;
    height: 500px;
    position: relative;
    top: 10%;
    left: -35px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }

  /*폼 css*/
  .replyform {
    margin: 0 auto;
    padding: 15px 10px;
    width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
  }

  .r_title {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }

  .r_img {
    position: relative;
    width: 90%;
    height: auto;
    font-size: 22px;
  }

  .like {
    background: none;
    cursor: pointer;
    font-size: 20px;
    border: none;
  }

  .r_img img {
    width: 100%;
    border-radius: 10px;
  }

  .left {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0px;
    opacity: 0.4;
  }
  .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.4;
  }

  .r_img__heart {
    display: flex;
    margin-top: 5px;
  }

  .fa-heart {
    margin-right: 5px;
    cursor: pointer;
  }

  .fa-heart--red {
    animation: 1s slidein;
    animation-fill-mode: backwards;
    color: red;
  }

  @keyframes slidein {
    from {
      color: white;
    }

    to {
      color: red;
    }
  }

  .r_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 83%;
    background: #fff;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
  }
  .r_info div {
    display: none;
  }
  .r_reply {
    display: none;
  }
  .replyform input {
    width: 70%;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, -1);
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    padding: 22px 18px;
  }

  .r_btn-save {
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    background: #3ded97;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.7;
  }

  .r_btn-save:hover {
    opacity: 1;
  }
  .f_nav {
    display: block;
  }
  .f_nav_list {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  .f_nav_list li {
    margin: 10px;
    transition: all 0.5s;
  }

  .f_nav_list li a {
    font-size: 25px;
    color: #3ded97;
  }

  .f_nav_list li:hover {
    transform: scale(1.3);
  }
}
@media all and (min-width: 1024px) {
  .wrap {
    height: 100vh;
  }
  .m_btn {
    color: #fff;
  }

  .swiper-wrapper .swiper-slide {
    width: 900px;
    height: 700px;
    position: relative;
    top: 50%;
    margin-top: -280px;
    left: -13px;
  }

  .swiper-button-prev {
    display: block;
    left: auto;
    right: 100px;
    top: auto;
    bottom: 50px;
    filter: grayscale(100%) brightness(3);
    transform: scale(0.5);
  }
  .swiper-button-next {
    display: block;
    left: auto;
    right: 60px;
    top: auto;
    bottom: 50px;
    filter: grayscale(100%) brightness(3);
    transform: scale(0.5);
  }
  /* 폼 css */
  .replyform {
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 900px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .r_title {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }

  .r_img {
    position: relative;
    width: 45%;
    height: auto;
    margin-right: 10px;
    font-size: 30px;
  }

  .r_img img {
    width: 100%;
  }

  .left {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0px;
    opacity: 0.4;
  }
  .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.4;
  }

  .r_info {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
  }

  .r_info div {
    display: block;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #3ded97;
  }

  .r_reply {
    font-family: "arial";
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.537);
  }

  .replyform input {
    width: 80%;
    height: 5px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, -1);
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    padding: 22px 18px;
  }

  .r_btn-save {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    background: #3ded97;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    opacity: 0.7;
  }

  .r_btn-save:hover {
    opacity: 1;
  }
  /* 폼 css  끝*/

  #reply_content{
    border-top:1px solid #3ded97;
  }
  #reply_content .reply_username {
    font-size: 18px;
    font-weight : bold;
    color : #3ded97;
  }
  #reply_content p {
    display : inline;
    font-size: 13px;
    margin : 5px;
  }
  #reply_user_img {
    height : 17px;
    width : 17px;
    line-height : 20px;
    cursor : pointer;
    border-radius : 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .edit_reply {
    display : none;
  }
  .reply_control button {
    border : none;
    background-color : white;
    color : gray;
    cursor : pointer;
  }
  .reply_edit_button {
    display : none;
    margin-left : -45px;
    cursor: pointer;
  }
  .f_nav {
    display: none;
  }
}
